.Segments {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 400px;
    box-sizing: border-box;

}

.SegmentItem {
    list-style: none;
    font-weight: 500;
    color: #ffffff;
    font-size: large;
    flex: 1;
    height: 40px;
}

.Button {
    width: 100%;
    background-color: #ffffff;
    color: red;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
}

.Active {
    background-color: #e63946;
    color: white;
}


.SegmentItem a {
    text-decoration: none;
    background-color: #ffffff;
    color: red;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #cccccc;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.SegmentItem .active {
    background-color: red;
    color: white;
}


@media(max-width: 400px) {
    .Segments {
        display: flex;
        flex-direction: column;
        width: 200px;
    }
}