.Title {
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    align-self: center;
    color: red;
}

.Description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2;
}